body {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
	text-shadow: 4px 4px 4px white;
	-webkit-text-stroke: 1px black; 
	color: #2c65bb;
	background-image: url("fleur_de_intégral.png");
	background-repeat: repeat;
}
.content {
	padding-top: 76px;
    text-align: center;
}

h2 {
    font-size: 46px;
}
h1 {
    font-size: 130px;
}
